@model SocietyOfAC.MemberShip


@{
    ViewBag.Title = "ApplymembershipForm";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<h2>ApplymembershipForm</h2>


<section style="margin-top:100px">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 col-md-offset-2 col-md-8">
                <div class="thumbnail info-thumbnail color-white" style="background-color:#00a885; height:570px">
                    <div class="caption">
                        <h3 id="maincolor"><span class="fa fa-user" style="color:white"></span>Apply MemberShip</h3>
                        @using (Html.BeginForm("ApplymembershipForm", "MemberShip",  FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()


                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <form>


                                
                                @*<div class="checkbox">
                                        <label id="maincolor" style = "margin-top:20px">
                                            <input data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true"><input name="RememberMe" type="hidden" value="false"> Remember me
                                        </label>
                                    </div> *@                 
                                <div class="form-group" >
                                    <div style = "color:white">In which things do you have expertise?</div>
                                    <div class="col-sm-12 col-md-12" style="margin-bottom:20px">
                                      
                                       @Html.TextArea("Expertise", null, new { @class = "form-control" })
                                       @Html.ValidationMessageFor(model => model.Expertise, "") 
                                    </div>
                                </div>

                               <div class="form-group" >
                                   <div style = "color:white">What your expectations about joining this society?</div>
                                    <div class="col-sm-12 col-md-12" style="margin-bottom:20px">

                                        @Html.TextArea("Question1", null, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Question1, "")
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div style="color:white">What benefits will get society from your side ?</div>
                                    <div class="col-sm-12 col-md-12" style="margin-bottom:20px ">

                                        @Html.TextArea("Question2", null, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Question2, "")
                                    </div>
                                </div>
                                <div class="form-group" ,style="width: 50px">
                                    @Html.LabelFor(model => model.Team, new { @style = "color:white" })
                                  @*  @Html.DropDownListFor(model=> model.Team, new SelectList(new List<string>()), new { style = "width:270px;" });*@
                               @Html.DropDownListFor(model => model.Team, new List<SelectListItem>
                                { new SelectListItem{Text="Select-any-one", Value="True",Selected = true },
                                  new SelectListItem{ Text="Developement", Value = "Developement" },
                                  new SelectListItem{ Text="Decore", Value = "Decore" },
                                  new SelectListItem{ Text="Management", Value = "Management" }
                                },new { style = "width:662px;height:50px;text-align:center" })
                                    @Html.ValidationMessageFor(model => model.Team, "")
                                </div>
                                    <button type="submit" class="btn btn-default" id="butt" style="border-color:white; margin-top:20px; margin-top:20px">Submit</button>

                                    @ViewBag.message
                                    </form>
                        }
                        @if (ViewBag.Uppermessage != null)
                        {
                            <script type="text/javascript">
                                window.onload = function () {
                                    alert('@ViewBag.Uppermessage');
                                };
                            </script>
                        }

                    </div>
                </div>
            </div>


            


        </div>
    </div>
</section>


    
    



